body {
  background-color: pink;
}
@font-face {
  font-family: "iconfont"; /* Project id 4338876 */
  src: url('./iconfont/iconfont.woff2?t=1700491342050') format('woff2'),
       url('./iconfont/iconfont.woff?t=1700491342050') format('woff'),
       url('./iconfont/iconfont.ttf?t=1700491342050') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-quanping_o:before {
  content: "\eb99";
}

.icon-shengyinkai:before {
  content: "\eca6";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

